<a href="https://colab.research.google.com/github/Navyasri28/Python-practices/blob/main/dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dictionary**
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
Zomato = {
  "Food": "biryani",
  "place": "hyderabad",
  "restaurant": "ABCD"
}
print(Zomato)

{'Food': 'biryani', 'place': 'hyderabad', 'restaurant': 'ABCD'}

A dictionary in programming is a collection that:

Ordered: The items have a defined order based on insertion.
Changeable: You can modify, add, or remove items after the dictionary is created.
Unique Keys: Each key in a dictionary must be unique; no duplicates are allowed.

Items in a dictionary are stored in key
pairs, where you can access the value by referencing its key.

In [ ]:
Zomato = {
  "Food": "biryani",
  "place": "hyderabad",
  "Restaurant": "ABCD"
}
print(Zomato["place"])

hyderabad

**ORDERED AND UNORDERED**

Defined Order: The items in the dictionary are stored in the order they were inserted. This order is maintained and will not change unless explicitly modified (e.g., by adding or removing items).

In [ ]:
my_dict = {
    "name": "Manu",
    "age": 18,
    "city": "Punjab"
}
for key in my_dict:
    print(key, my_dict[key])

name Manu
age 18
city Punjab

No Defined Order: The items do not follow any specific order. When you add items, you cannot predict where they will be placed.

In [ ]:
my_unordered_dict = {
    "city": "Punjab",
    "age": 18,
    "name": "Manu"
}
for key in my_unordered_dict:
    print(key, my_unordered_dict[key])

city Punjab
age 18
name Manu

**CHANGABLE**

Dictionaries are flexible, allowing modifications after their creation. This means you can:

Change Items: Update the value of an existing key.

Add Items: Insert new key-value pairs.

Remove Items: Delete key-value pairs.

In [ ]:
my_dict = {"name": "Manu", "age": 18}
my_dict["age"] = 18
print(my_dict)
my_dict["city"] = "Punjab"
print(my_dict)
del my_dict["age"]
print(my_dict)

{'name': 'Manu', 'age': 18}
{'name': 'Manu', 'age': 18, 'city': 'Punjab'}
{'name': 'Manu', 'city': 'Punjab'}

DUPLICATES NOT ALLOWED

In dictionaries, each key must be unique. This means you cannot have two items with the same key. If you attempt to assign a value to an existing key, the new value will overwrite the previous one.

In [ ]:
my_dict = {
    "name": "Manu",
    "age": 18,
    "name": "Tejuu"
}
print(my_dict)

{'name': 'Tejuu', 'age': 18}

**DICTIONARY LENGTH**

To find out the number of items in a dictionary, you can use the len() function. This function returns the total count of key-value pairs in the dictionary.

In [ ]:
my_dict = {
    "name": "Tejuu",
    "age": 18,
    "city": "Punajb"
}
num_items = len(my_dict)
print(num_items)

3

**DATA TYPE**

In a dictionary, the values associated with keys can be of any data type. This means you can store integers, strings, lists, other dictionaries, or any other data type as values.

In [ ]:
#integer values
my_dict = {
    "age": 30
}
#string values
my_dict = {
    "name": "Alice"
}
#list values
my_dict = {
    "hobbies": ["reading", "cycling", "swimming"]
}
#dictionary values
my_dict = {
    "address": {
        "city": "New York",
        "zip_code": "10001"
    }
}
#mixed data types
my_dict = {
    "name": "Alice",
    "age": 30,
    "hobbies": ["reading", "cycling", "swimming"],
    "address": {
        "city": "New York",
        "zip_code": "10001"
    }
}

**Dictionaries can be used for :**

**Data storage** - so instead of remembering that a person’s name is at list index 0, and the address is at list index 1 - we can create a dictionary with keys of ‘name’ and ‘address’ - bingo - your code is more readable.

**literally maps** : Say you are building a map of objects on a game field - so each object has an (x,y) co-ordinate. Instead of a big list which is mostly empty showing each of the objects - you have a dictionary with the key being a tuple of the (x,y) co-ordinate, and the value being the object at that location.

You can use a dictionary as a jump table to emulate a switch type statement.

You can use a dictionary to easily count the content of a list.

You can use a dictionary to build indexes of content.

**SOME PRACTICAL EXAMPLES AND USE CASES**

In [ ]:
#storing information
user_profile = {
    "username": "Navya123",
    "email": "navya@gmail.com",
    "age": 18,
    "preferences": ["reading", "cycling"]
}
print(user_profile["email"])

navya@gmail.com

In [ ]:
#counting occurances
text = "hello world hello"
word_count = {}

for word in text.split():
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
print(word_count)

{'hello': 2, 'world': 1}

In [ ]:
#data aggregation
transactions = [
    {"category": "food", "amount": 20},
    {"category": "transport", "amount": 15},
    {"category": "food", "amount": 30},
    {"category": "entertainment", "amount": 50},
]

category_totals = {}

for transaction in transactions:
    category = transaction["category"]
    amount = transaction["amount"]
    if category in category_totals:
        category_totals[category] += amount
    else:
        category_totals[category] = amount

print(category_totals)

{'food': 50, 'transport': 15, 'entertainment': 50}

**DICTIONARY METHODS**

**Python Dictionary clear():**
The clear() method removes all items from the dictionary.

In [ ]:
# dictionary
numbers = {1: "one", 2: "two"}
numbers.clear()
print(numbers)

{}

**Python Dictionary copy():**
They copy() method returns a copy (shallow copy) of the dictionary.

In [ ]:
original_scores = {'INDIA':167, 'PAKISTHAN':87}

copied_scores = original_scores.copy()

print('Original Marks:', original_scores)
print('Copied Marks:', copied_scores)

Original Marks: {'INDIA': 167, 'PAKISTHAN': 87}
Copied Marks: {'INDIA': 167, 'PAKISTHAN': 87}

**Python Dictionary items():**
The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.

In [ ]:
score = {'INDIA':167, 'PAKISTHAN':87}

print(score.items())

dict_items([('INDIA', 167), ('PAKISTHAN', 87)])

**Python Dictionary keys():**
The keys() method extracts the keys of the dictionary and returns the list of keys as a view object.

In [ ]:
numbers = {1: 'one', 2: 'two', 3: 'three'}
dictionaryKeys = numbers.keys()
print(dictionaryKeys)

dict_keys([1, 2, 3])

**The popitem():** method in Python is used to remove and return the last inserted key-value pair from a dictionary. This method is useful when you need to manipulate the dictionary by removing the most recently added item.

In [ ]:
my_dict = {
    "name": "Tejuuu",
    "age": 18,
    "city": "Punjab"
}

last_item = my_dict.popitem()
print(last_item)
print(my_dict)

('city', 'Punjab')
{'name': 'Tejuuu', 'age': 18}

**Python Dictionary update():**
The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.

In [21]:
marks = {'pyhsics':67, 'Maths':87}
internal_marks = {'Practical':48}

marks.update(internal_marks)
print(marks)

{'pyhsics': 67, 'Maths': 87, 'Practical': 48}

# **DICTIONARY COMPREHENSION**

Dictionary comprehension in Python is a concise way to create dictionaries from existing dictionaries or other iterable collections. It allows you to generate new dictionaries by applying a transformation to each key-value pair in the original dictionary and optionally filtering which pairs to include.

Creating a dictionary with a condition:

In [22]:
# List of numbers
numbers = [1, 2, 3, 4, 5]
filtered_squares = {num: num**2 for num in numbers if num > 2}
print(filtered_squares)

{3: 9, 4: 16, 5: 25}

Creating a dictionary with a transformation:

In [23]:
# List of strings
words = ["america", "bangalore", "chennai"]
word_lengths = {word: len(word) for word in words}
print(word_lengths)

{'america': 7, 'bangalore': 9, 'chennai': 7}

Combining two lists into a dictionary:

In [24]:
# Lists of keys and values
keys = ['a', 'b', 'c']
values = [1, 2, 3]
combined_dict = {keys[i]: values[i] for i in range(len(keys))}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3}

**NESTED DICTIONARY**

Nesting dictionaries means having dictionaries within dictionaries. This structure allows you to store and organize complex data hierarchically.

In [25]:
students = {
    'Tejjuuu': {
        'Math': 85,
        'Science': 92
    },
    'Manu': {
        'Math': 78,
        'Science': 88
    },
    'Navya': {
        'Math': 95,
        'Science': 91
    }
}

print(students)

{'Tejjuuu': {'Math': 85, 'Science': 92}, 'Manu': {'Math': 78, 'Science': 88}, 'Navya': {'Math': 95, 'Science': 91}}

**DATA MANIPULATION**

Data manipulation refers to the process of adjusting, organizing, or analyzing data to make it more readable and useful. It involves a variety of techniques and operations that can transform raw data into a more meaningful format, making it easier to draw insights, perform calculations, and create visualizations.

**DATA FILTERING**

We will be having a certain criteria whether to choose or not choose information.

In [28]:
# List of dictionaries representing students
students = [
    {"name": "Tejuuu", "grade": "A", "age": 25},
    {"name": "Bobbyharsha", "grade": "B", "age": 30},
    {"name": "manu", "grade": "A", "age": 22},
    {"name": "sai", "grade": "C", "age": 28},
    {"name": "akshith", "grade": "B", "age": 27},
    {"name": "navya", "grade": "A", "age": 24}
]

grouped_by_grade = {}
for student in students:
    grade = student["grade"]
    if grade in grouped_by_grade:
        grouped_by_grade[grade].append(student)
    else:
        grouped_by_grade[grade] = [student]

print(grouped_by_grade)

{'A': [{'name': 'Tejuuu', 'grade': 'A', 'age': 25}, {'name': 'manu', 'grade': 'A', 'age': 22}, {'name': 'navya', 'grade': 'A', 'age': 24}], 'B': [{'name': 'Bobbyharsha', 'grade': 'B', 'age': 30}, {'name': 'akshith', 'grade': 'B', 'age': 27}], 'C': [{'name': 'sai', 'grade': 'C', 'age': 28}]}

In [31]:
# List of dictionaries representing students
students = [
    {"name": "Tejjuuu", "grade": "A", "city": "hyd"},
    {"name": "Bobbyharsha", "grade": "B", "city": "Chennai"},
    {"name": "manu", "grade": "A", "city": "hyd"},
    {"name": "sai", "grade": "C", "city": "Chennai"},
    {"name": "akshith", "grade": "B", "city": "hyd"},
    {"name": "navya", "grade": "A", "city": "Chennai"}
]
filtered_by_city = [student for student in students if student["city"] == "hyd"]

print(filtered_by_city)

[{'name': 'Tejjuuu', 'grade': 'A', 'city': 'hyd'}, {'name': 'manu', 'grade': 'A', 'city': 'hyd'}, {'name': 'akshith', 'grade': 'B', 'city': 'hyd'}]

**Data Analysis with Dictionaries**

Dictionaries are ideal for counting the frequency of elements in a dataset.

In [33]:
data = ['america', 'bangalore', 'america', 'chennai', 'bangalore', 'america']

frequency = {}
for item in data:
    if item in frequency:
        frequency[item] += 1
    else:
        frequency[item] = 1

print(frequency)

{'america': 3, 'bangalore': 2, 'chennai': 1}

**Combined Use of Sets and Dictionaries**

In [36]:
# Data of students and their scores
scores = {
    'Tejuuu': 85,
    'Bobbyharsha': 90,
    'manu': 87,
    'sai': 92
}
passed_students = {'Bobbyharsha', 'sai'}
passed_scores = {student: score for student, score in scores.items() if student in passed_students}
print(passed_scores)

{'Bobbyharsha': 90, 'sai': 92}