<a href="https://colab.research.google.com/github/Navyasri28/Python-practices/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TUPLE**

A Python tuple is a collection of objects separated by commas. Like lists, tuples support indexing, nested objects, and repetition. However, the key difference is that tuples are immutable (they cannot be changed after creation), while lists are mutable (they can be modified).

In [2]:
mytuple = ("hyd", "bangalore", "chennai")
print(mytuple)

('hyd', 'bangalore', 'chennai')

**Some characteristics of tuple:**

**Ordered:**

Tuples maintain the order of elements as they are inserted.

In [3]:
tuple1 = (10, 20, 30)
print(tuple1)

(10, 20, 30)

**Lightweight:**

Tuples use less memory compared to lists

In [4]:
import sys
list1 = [10, 20, 30]
tuple1 = (10, 20, 30)
print(sys.getsizeof(list1))
print(sys.getsizeof(tuple1))

88
64

**Indexable through a zero-based index:**

Access elements using indices starting from zero.

In [5]:
tuple1 = ('a', 'b', 'c')
print(tuple1[0])
print(tuple1[2])

a
c

**Immutable:**

Tuples cannot be changed after creation.

In [7]:
tuple1 = (1, 2, 3)
# tuple1[0] = 4

**Heterogeneous:**

Tuples can store objects of different types.

In [8]:
tuple1 = (1, "hello", 3.14, [4, 5, 6])
print(tuple1)

(1, 'hello', 3.14, [4, 5, 6])

**Nestable:**

Tuples can contain other tuples.

In [9]:
tuple1 = (1, 2, (3, 4), 5)
print(tuple1)

(1, 2, (3, 4), 5)

**Iterable:**

Tuples support iteration.

In [10]:
tuple1 = (1, 2, 3)
for item in tuple1:
    print(item)

1
2
3

**Sliceable:**

Tuples support slicing operations.

In [11]:
tuple1 = (0, 1, 2, 3, 4, 5)
print(tuple1[1:4])

(1, 2, 3)

**Combinable:**

Tuples support concatenation to create new tuples.

In [12]:
tuple1 = (1, 2)
tuple2 = (3, 4)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4)

**Tuples vs. Lists**

Tuples and lists are both used to store collection of data
Tuples and lists are both heterogeneous data types means that you can store any kind of data type.
Tuples and lists are both ordered means the order in which you put the items are kept.
Tuples and lists are both sequential data types so you can iterate over the items contained.
Items of both tuples and lists can be accessed by an integer index operator, provided in square brackets, [index].

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4]
my_list[2] = 99
print(my_list)

# Creating a tuple
my_tuple = (10, 20, 30, 40)

print(my_tuple)

**INDEXING **

Indexing in Tuples:
Indexing allows you to access individual elements in a tuple by their position (index).

In [13]:
my_tuple = ('apple', 'banana', 'cherry', 'date')
print(my_tuple[0])
print(my_tuple[1])

apple
banana

**SLICING**

Slicing in Tuples:
Slicing allows you to extract a sub-sequence (a portion) of a tuple.
The syntax for slicing is tuple[start:end]

In [14]:
my_tuple = ('america', 'bangalore', 'chennai', 'delhi')
print(my_tuple[1:3])

('bangalore', 'chennai')

**Built-in funtions**

len(): Returns the number of elements in a tuple.

In [15]:
my_tuple = (10, 20, 30, 40)
print(len(my_tuple))

4

max(): Returns the largest element in a tuple

In [16]:
my_tuple = (10, 20, 30, 40)
print(max(my_tuple))

40

min(): Returns the smallest element in a tuple.

In [17]:
my_tuple = (10, 20, 30, 40)
print(min(my_tuple))

10

sum(): Returns the sum of all elements in a numeric tuple.

In [18]:
my_tuple = (10, 20, 30, 40)
print(sum(my_tuple))

100

sorted(): Returns a new sorted list containing the elements of the tuple.

In [19]:
my_tuple = (3, 2, 1)
sorted_list = sorted(my_tuple)
print(sorted_list)

[1, 2, 3]